$dark-blue: hsl(217, 28%, 15%);
$dark-blue-main: hsl(218, 28%, 13%);
$dark-blue-testimoinial-BG:hsl(219, 30%, 18%);
$dark-blue-footer-BG: hsl(216, 53%, 9%);
$accent-cyan-gradient:  hsl(176, 68%, 64%);
$accent-blue-gradient: hsl(198, 60%, 50%);
$accent-light-red: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);